@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Titillium Web', sans-serif;
    color: #ddd;
    background-color: #222;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    padding: .5em;
    text-align: center;
    background: crimson;
    color: #fff;
}

.heroes {
    width: 85%;
    margin: 3em auto;
    display: flex;
    flex-wrap: wrap;
}

.hero {
    position: relative;
    width: 24%;
    margin: .5%;
    border: 2px solid crimson;
    text-align: center;
    padding: .5em;
    animation: fadeIn .5s linear;
}
    .hero img {
        width: 100%;
        height: auto;
        padding: .5em .75em 1em;
    }

    .hero h2 {
        background-color: crimson;
        padding: .25em;
        color: #fff;
        font-weight: lighter;
    }

    .hero p {
        text-align: justify;
    }

.page-numbers button {
    outline: none;
    background-color: crimson;
    border: 3px solid crimson;
    padding: .25em .75em;
    margin: 0 .5em;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Titillium Web', sans-serif;
    cursor: pointer;
}
    .page-numbers button.active {
        border: 3px solid #fff;
    }

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Custom scroll bars style */
::-webkit-scrollbar {
    width: 3px;
    background: #333;
}

::-webkit-scrollbar-thumb {
    background: crimson;
}

::-webkit-scrollbar-thumb:hover {
    background: cornflowerblue; 
}

@media only screen and (max-width: 1024px) {
    html {
        font-size: 14px;
    }
    .hero {
        margin: 1%;
        width: 31%;
    }
}
@media only screen and (max-width: 768px) {
    html {
        font-size: 12px;
    }
    .hero {
        margin: 1.5%;
        width: 47%;
    }
}
@media only screen and (max-width: 414px) {
    html {
        font-size: 10px;
    }
    .hero {
        margin: 2% 0;
        width: 97%;
    }
}